body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: #f4f4f4
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;  
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    padding: 0;
    margin: 0;
}
header li{
    float: left;
    display: inline;
    padding:0 20px 0 20px;     
}
#branding{
    float: left;
}
#branding{
    margin: 0;
}
nav{
    float: right;
    margin-top: 31px;
}
header .highlight,header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color:#cccccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background: url("../img/showcase.jpg") no-repeat -400px;  
    color: #ffffff;
    text-align: center;  
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size:55px
}
#showcase p{
    font-size: 20px

}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#newsletter h1{
    float:left;
}
#newsletter form{
    float: right;
    margin-top:10px;
}
#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button_1{
    background:#e8491d;
    height: 38px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
#boxes{
    margin-top: 20px;
}
.box{
    float: left;
    width:44.003556%;
    padding:10px;
    text-align: center;
}
.box img{
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color:#ffffff;
    background: #e8491d;
    text-align: center;
}
a{
    text-decoration: none;
}